body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: #39FF14;
    text-align: center;
    margin-top: 2rem;
}