@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:wght@400;700&display=swap');

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    color: #39FF14;
    text-align: center;
    margin-top: 2rem;
}

.card {
    background-color: #1a1a1a;
    border: 1px solid #1E90FF;
    color: #D3D3D3;
}

.btn-primary {
    background-color: #1E90FF;
    border-color: #1E90FF;
}

.btn-primary:hover {
    background-color: #39FF14;
    border-color: #39FF14;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.table {
    color: #D3D3D3;
}

.borrar-producto {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.producto-fila {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border: 1px solid #1E90FF;
    border-radius: 8px;
    padding: 1rem;
}

.imagen-pequeña {
    width: 150px;
    height: auto;
    margin-right: 1.5rem;
}

.card-body {
    width: 100%;
}