.logo img {
    width: 150px;          /* Ajusta el ancho según prefieras */
    height: auto;          /* Mantiene proporción original */
    display: block;        /* Evita espacios debajo de la imagen */
    margin: 0 auto;        /* Centra horizontalmente si el contenedor permite */
    max-width: 100%;       /* Que no exceda el contenedor en pantallas pequeñas */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header.productos-header {
    background-color: #1E90FF;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar {
    margin: 20px auto;
    max-width: 500px;
    display: flex;
}
.search-bar input {
    flex: 1;
    padding: 8px;
    font-size: 20px;
    width: 1000px;
    border: 1px solid #ccc;
}
.search-bar button {
    padding: 8px 16px;
    background: #39FF14;
    color: white;
    border: none;
    cursor: pointer;
}
#product-list {
    max-width: 800px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.product-card {
    background: rgb(243, 246, 246);
    border: 1px solid #0bf01a;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.product-card img{
    width: 60%;
    height: 40%;
    object-fit:cover ;
    border-radius: 4px;
}
.product-card h3 {
    margin: 0 0 8px 0;
    font-size: 1.1rem;
}
.product-card p {
    margin: 0 0 8px 0;
    color: #555;
}
.product-card .price {
    color: #3844af;
    font-weight: bold;
}

#login-section {
    background-color: #1E90FF; 
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
}
#login-section input::placeholder {
    color: #7FFF00; 
}
#login-btn {
    background-color: #39FF14; 
    color: #000000; 
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}
#login-btn:hover {
    background-color: #2EB82E;
}
#login-message {
    margin-left: 10px;
    font-size: 0.9rem;
    color: #fff;
}
.modal {
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 40%;
    max-height: 80vh;
    width: auto;
    height: auto;   
    border-radius: 8px;
    object-fit: contain;
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}