.logo img {
    width: 150px;          /* Ajusta el ancho según prefieras */
    height: auto;          /* Mantiene proporción original */
    display: block;        /* Evita espacios debajo de la imagen */
    margin: 0 auto;        /* Centra horizontalmente si el contenedor permite */
    max-width: 100%;       /* Que no exceda el contenedor en pantallas pequeñas */
}

.carrito-icon img {
    width: 50px;
    height: 30px;
    transition: transform 0.3s;
}

.icon-hover:hover img {
    transform: scale(1.2);
}

.login-icon img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* O center si quieres todo centrado */
    padding: 15px 30px;
}

.search-bar {
    margin: 20px auto;
    max-width: 500px;
    display: flex;
}
.search-bar input {
    flex: 1;
    padding: 8px;
    font-size: 20px;
    width: 1000px;
    border: 1px solid #ccc;
}
.search-bar button {
    padding: 8px 16px;
    background: #39FF14;
    color: white;
    border: none;
    cursor: pointer;
}